.Header-bg {
    background-color: white;
    height: 80px;
    width: 100%;
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
}
.Header {
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between;
    font-weight: bold;
    z-index: 2;
    
}
.nav-bar li{
    color: #90B1E6;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-left: 5%;
    list-style: none;
}
li {
    margin: 0;
}
.nav-bar a:hover{
    color: #DD90E6;
}
.nav-bar{
    display: flex;
    width: 100%;
    justify-content: end;
}
.burger-button{
    display: none;
}
.header-menu{
    min-width: 70%;
    display: flex;
}
ul{
    padding: 0;
    margin: 0;
}

@media(max-width: 768px) {
    body.active{
        overflow: hidden;
    }
    .burger-button{
        width: 30px;
        height: 20px;
        position: relative;
        display: block;
        z-index: 4;
    }
    .logo{
        z-index: 4;
    }
    .Header-bg:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 3;
    }
    .header-menu{
        backdrop-filter: blur(12px);
        background-color: rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 100%;
        position: fixed;
        top: -100%;
        left: 0;
        z-index: 1;
        padding: 100px 0 0 0;
        transition: all 0.3s;
        overflow: auto;
    }
    .header-menu.active{
        top: 0;
    }
    .burger-button:after,.burger-button:before{
        content: '';
        background-color: rgb(194, 102, 202);
        position: absolute;
        width: 100%;
        height: 2px;
    }
    .burger-button span{
        background-color: rgb(194, 102, 202);
        position: absolute;
        width: 100%;
        height: 2px;
        top: 9px;
    }
    .burger-button:after{
        bottom: 0;
        transition: all 0.3s;
    }
    .burger-button:before{
        top: 0;
        transition: all 0.3s;
    }
    .burger-button.active span{
        display: none;
        transition: all 0.3s;
    }
    .burger-button.active:before{
        transform: rotate(45deg);
        top: 9px;
    }
    .burger-button.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .nav-bar{
        display: block;
    }
    .nav-bar {
        display: block;
    }
    .nav-bar li a{
        color: white;
        text-decoration: none;
        font-size: 42px;
        font-weight: bold;
        list-style: none;
    } 
    .nav-bar li{
        margin: 0;
        text-align: center;
        margin-top: 70px;
    }
    .nav-bar li:hover{
        backdrop-filter: blur(16px);
    }
}