.Header {
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between;
    font-weight: bold;
    z-index: 100;
}

.nav-bar a{
    color: #90B1E6;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.auth-link {
    text-align: end;
}
.nav-bar a:hover{
    color: #DD90E6;
}
.logo {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}