.bg-password-recovery {
    background: rgb(191,191,191);
    background: linear-gradient(135deg, rgba(191, 191, 191, 0.35) 0%, rgba(214, 90, 194, 0.3) 100%), url('../../image/whitepurpleDragon.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 80px 0 0 0;
    width: 100%;
    overflow: hidden;
}
.content-password-recovery {
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.2);
    height: 400px;
    width: 550px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    -webkit-box-shadow: 0px 5px 10px -4px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px -4px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px -4px rgba(34, 60, 80, 0.2);
}
.wrapper {
    width: 72%;
    height: 100%;
}
.wrapper p {
    font-size: calc(20px + 20 * (100vw / 1920));
    color: #ffffff;
    opacity: 0.9;
    font-weight: bold;
}
.form-password-recovery {
    width: 100%;
}
.form-password-recovery input {
    display: block;
    background: #fff;
    height: 50px;
    width: 100%;
    border-radius: 15px;
    color: #4586EE;
    border: none;
    font-size: calc(12px + 12 * (100vw / 1920));
    font-weight: bold;
    z-index: 100;
    text-align: center;
    margin-top: 50px;
    outline: none;
    caret-color: #DD90E6;
}
.form-password-recovery input::placeholder {
    color: #90B1E6;
    text-align: center;
    font-weight: bold;
    opacity: 0.6;
}
.form-password-recovery button {
    color: #fff;
    height: 50px;
    width: 100%;
    border-radius: 15px;
    background: rgb(156,194,255);
    background: linear-gradient(90deg, rgba(156,194,255,1) 0%, rgba(232,122,245,1) 100%);
    font-size: calc(12px + 12 * (100vw / 1920));
    font-weight: bold;
    border: none;
    margin-top: 50px;
}
.form-password-recovery button:active {
    -webkit-box-shadow: 0px 0px 10px 8px rgba(34, 60, 80, 0.25) inset;
    -moz-box-shadow: 0px 0px 10px 8px rgba(34, 60, 80, 0.25) inset;
    box-shadow: 0px 0px 10px 8px rgba(34, 60, 80, 0.25) inset;
}
.link-back-to-login {
    text-decoration: none;
    font-size: calc(10px + 6 * (100vw / 1920));
    font-weight: 600;
    color: #4586EE;
    margin-top: 20px;
}


@media(max-width: 768px) {
    .wrapper{
        width: 90%;
    }
}