.bg-create-quiz {
    background: rgb(221, 144, 230);
    background: linear-gradient(135deg, rgba(221, 144, 230, 0.25) 0%, rgba(144, 177, 230, 0.25) 100%), url('../../image/whitepurpleDragon.png');
    min-height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding-top: 80px;
}

.create-quiz-content {
    display: flex;
    justify-content: center;
    width: 100%;
}

.buttons-group {
    display: flex;
    flex-direction: column;
}

.my {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.label {
    width: 100%;
    height: 50px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    display: block;
    font: 14px/50px Tahoma;
    transition: all 0.18s ease-in-out;
    border: 1px solid #333;
    color: #333;
}

.label:hover {
    color: white;
    background: #333;
}

.form-create-quiz input {
    height: 40px;
    background: #fff;
    color: #4586EE;
    border: none;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    outline: none;
    caret-color: #DD90E6;
    opacity: 0.85;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 7px 5px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 7px 5px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 7px 5px rgba(34, 60, 80, 0.2);
}

.form-create-quiz input::placeholder {
    color: #90B1E6;
    text-align: center;
    font-weight: bold;
    opacity: 0.6;
}

.buttons-group button {
    height: 40px;
    color: #4586EE;
    background: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
    border: none;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 7px 5px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 7px 5px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 7px 5px rgba(34, 60, 80, 0.2);
    margin-top: auto;
}

.in-slide-form-xxxtentacion button {
    height: 40px;
    color: #E4A6EB;
    background: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
    border: none;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 7px 5px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 7px 5px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 7px 5px rgba(34, 60, 80, 0.2);
}

.in-slide-form-xxxtentacion input::placeholder {
    color: #90B1E6;
    text-align: center;
    font-weight: bold;
    opacity: 1;
}

.in-slide-form-xxxtentacion input {
    height: 40px;
    background: #fff;
    color: #4586EE;
    border: none;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    outline: none;
    caret-color: #DD90E6;
    opacity: 0.85;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 7px 5px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 7px 5px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 7px 5px rgba(34, 60, 80, 0.2);
}

.in-slide-form-lilpump {
    height: 40px;
    align-items: center;
    background: #fff;
    border-radius: 15px;
    outline: none;
    opacity: 0.85;
    -webkit-box-shadow: 0px 0px 7px 4px rgba(255, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 7px 4px rgba(255, 0, 0, 0.5);
    box-shadow: 0px 0px 7px 4px rgba(255, 0, 0, 0.5);
    margin-bottom: 20px;
}

.in-slide-form-lilpump.active {
    -webkit-box-shadow: 0px 0px 7px 4px rgba(0, 255, 0, 0.5);
    -moz-box-shadow: 0px 0px 7px 4px rgba(0, 255, 0, 0.5);
    box-shadow: 0px 0px 7px 4px rgba(0, 255, 0, 0.5);
}

.in-slide-form-lilpump input {
    height: 40px;
    width: 70%;
    align-items: center;
    background: #fff;
    border-radius: 15px;
    color: #4586EE;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    caret-color: #DD90E6;
    outline: none;
    border: none;
}

.in-slide-form-lilpump input::placeholder {
    color: #90B1E6;
    text-align: center;
    font-weight: bold;
    opacity: 1;
}

.del-answer-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 50px;
    opacity: 0;
    cursor: pointer;
}

.check-answer-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 50px;
    opacity: 0.5;
    cursor: pointer;
}

.check-answer-icon.active {
    opacity: 1;
}

.in-slide-form-lilpump:hover>.del-answer-icon {
    opacity: 1;
}

.slederXXXTENTACION {
    margin-top: 20px;
    min-height: 400px;
    width: 100%;

}

.content-in-slide {
    min-height: 400px;
}

.forms-content-cud {
    margin-top: 20px;
    height: 100%;
}

.content-cud {
    height: 100%;
}

.input-cud {
    height: 5vh;
}