.bg-content-user-settings {
    background: rgb(191,191,191);
    background: linear-gradient(135deg, rgba(191,191,191,0.35) 0%, rgba(198,100,181,0.3) 100%), url('../../image/whitepurpleDragon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
    min-height: 100vh;
    padding: 80px 0 0 0;
}
.form-setting {
    float: right;
    height: 700px;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.box-settings-content {
    height: 600px;
    width: 80%;
    color: #79A8F4;
    font-weight: bold;
}
.box-settings-content h1 {
    font-size: calc(16px + 8 * (100vw / 1920));
    font-weight: bold;
    color: #79A8F4;
    margin-bottom: 20px;
}
.box-settings-content h2 {
    font-size: calc(12px + 8 * (100vw / 1920));
    font-weight: bold;
    color: #79A8F4;
    margin-bottom: 20px;
}
.box-settings-content h3 {
    font-size: calc(6px + 8 * (100vw / 1920));
    font-weight: bold;
    color: #79A8F4;
    margin: 0;
}
.box-settings-content input {
    display: block;
    background: #fff;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    color: #DD90E6;
    border: none;
    font-size: 24px;
    font-weight: bold;
    z-index: 100;
    text-align: center;
    outline: none;
    caret-color: #DD90E6;
    margin-bottom: 10px;
}

.button {
    border: none;
    background-color: #79A8F4;
    height: 32px;
    width: 200px;
    border-radius: 5px;
    z-index: 50;
    color: #fff;
    font-weight: bold;
}

.save-new-password-button{
    /* background: rgb(107,160,244);
    background: linear-gradient(135deg, rgba(107,160,244,1) 0%, rgba(218,81,234,1) 100%); */
    background: rgb(25,93,224);
    background: linear-gradient(120deg, rgba(25,93,224,1) 0%, rgba(76,165,239,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    margin-top: 20px;
}
.button-user-settings button:active {
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5) inset;
    -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5) inset;
}
.del-button-setting-user {
    height: 40px;
    width: 100%;
    border-radius: 50px;
    border: none;
    background: rgb(226,140,140);
    background: linear-gradient(135deg, rgba(226,140,140,0.5) 0%, rgba(226,140,140,1) 100%);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
.title-del-user {
    text-align: center;
    margin-top: 150px;
}
.setting-content-all {
    min-height: calc(100vh - 80px);
}
.pink-color-title h3{
    color: #DD90E6;
}
.pink-color-title h1{
    color: #DD90E6;
}
.pink-color-title input{
    color: #79A8F4;
}
.pink-color-title .save-new-password-button {
    background: rgb(171,0,255);
background: linear-gradient(90deg, rgba(171,0,255,1) 0%, rgba(245,0,255,1) 100%);
}
.pink-color-title h2{
    color: #DD90E6;
    text-align: center;
    margin-bottom: 0;
    margin-top: 260px;
}
@media(max-width: 768px) {
    .form-setting {
        width: 100%;
    }
}