.form-password-change {
    width: 100%;
}
.form-password-change input {
    display: block;
    background: #fff;
    height: 50px;
    width: 100%;
    border-radius: 15px;
    color: #4586EE;
    border: none;
    font-size: calc(12px + 12 * (100vw / 1920));
    font-weight: bold;
    z-index: 100;
    text-align: center;
    margin-top: 30px;
    outline: none;
    caret-color: #DD90E6;
}
.form-password-change input::placeholder {
    color: #90B1E6;
    text-align: center;
    font-weight: bold;
    opacity: 0.6;
}
.form-password-change button {
    color: #fff;
    height: 50px;
    width: 100%;
    border-radius: 15px;
    background: rgb(156,194,255);
    background: linear-gradient(90deg, rgba(156,194,255,1) 0%, rgba(232,122,245,1) 100%);
    font-size: calc(12px + 12 * (100vw / 1920));
    font-weight: bold;
    border: none;
    margin-top: 50px;
}
.form-password-change button:active {
    -webkit-box-shadow: 0px 0px 10px 8px rgba(34, 60, 80, 0.25) inset;
    -moz-box-shadow: 0px 0px 10px 8px rgba(34, 60, 80, 0.25) inset;
    box-shadow: 0px 0px 10px 8px rgba(34, 60, 80, 0.25) inset;
}